matplotlib==3.9.4
matplotlib-inline==0.2.1
nbformat==5.10.4
numpy==1.26.4
pandas==2.3.3
pathlib==1.0.1
patsy==0.5.3
plotly==6.5.0
scikit-learn==1.2.1
scipy==1.13.1
seaborn==0.13.2
statsmodels==0.13.5
tqdm==4.64.1
